<div class="card">
    <p-table [value]="stockLotations" dataKey="key" [paginator]="true" [rows]="6" [rowsPerPageOptions]="[10, 25, 50]"
        [tableStyle]="{ 'min-width': '60rem' }">
        <ng-template pTemplate="caption">
            <div class="p-d-flex p-ai-center">
                <h3 class="p-m-0">Locais de Estoque</h3>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="name">Local <p-sortIcon field="name" /></th>
                <th style="width: 15%">Ações</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-location let-expanded="expanded">
            <tr>
                <td>{{ location.name }}</td>
                <td>
                    <p-button type="button" (onClick)="openStockDialog(location)" pRipple  [rounded]="false" [outlined]="true"  icon="pi pi-eye" [style]="{'color':'#00c65e'}" />
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>