<div class="card">
    <p-table [value]="stockLotations" dataKey="id" [paginator]="true" [rows]="6" [rowsPerPageOptions]="[10, 25, 50]"
        [tableStyle]="{ 'min-width': '60rem' }" (onRowExpand)="onRowExpand($event)"
        (onRowCollapse)="onRowCollapse($event)">
        <ng-template pTemplate="caption">
            <div class="p-d-flex p-ai-center">
                <h3 class="p-m-0">Locais de Estoque</h3>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 5rem">Ações</th>
                <th pSortableColumn="name">Local <p-sortIcon field="name" /></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product let-expanded="expanded">
            <tr>
                <td>
                    <p-button type="button" pRipple [pRowToggler]="product" [text]="true" [rounded]="true"
                        [plain]="true" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'" />
                </td>
                <td>{{ product.name }}</td>
            </tr>
        </ng-template>
        <ng-template pTemplate="rowexpansion" let-product>
            <tr>
                <td colspan="7">
                    <div class="p-3">
                        <p-table [value]="product.orders" dataKey="id">
                            <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="id">Id <p-sortIcon field="price" /></th>
                <th pSortableColumn="customer">Customer <p-sortIcon field="customer" /></th>
                <th pSortableColumn="date">Date <p-sortIcon field="date" /></th>
                <th pSortableColumn="amount">Amount <p-sortIcon field="amount" /></th>
                <th pSortableColumn="status">Status <p-sortIcon field="status" /></th>
                <th style="width: 4rem"></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-order>
            <tr>
                <td>{{ order.id }}</td>
                <td>{{ order.customer }}</td>
                <td>{{ order.date }}</td>
                <td>{{ order.amount | currency : 'USD' }}</td>
                <td><p-button type="button" icon="pi pi-search" /></td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="6">There are no order for this product yet.</td>
            </tr>
        </ng-template>
    </p-table>
</div>
</td>
</tr>
</ng-template>
</p-table>
</div>