<div class="card">
    <p-table [value]="stockLotations" dataKey="key" [paginator]="true" [rows]="6" [rowsPerPageOptions]="[10, 25, 50]"
        [tableStyle]="{ 'min-width': '60rem' }" [expandedRowKeys]="expandedRow" (onRowExpand)="onRowExpand($event)"
        (onRowCollapse)="onRowCollapse($event)">
        <ng-template pTemplate="caption">
            <div class="p-d-flex p-ai-center">
                <h3 class="p-m-0">Locais de Estoque</h3>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 5rem">Ações</th>
                <th pSortableColumn="name">Local <p-sortIcon field="name" /></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-location let-expanded="expanded">
            <tr>
                <td>
                    <p-button type="button" pRipple [pRowToggler]="location" [text]="true" [rounded]="true"
                        [plain]="true" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'" />
                </td>
                <td>{{ location.name }}</td>
            </tr>
        </ng-template>
        <ng-template pTemplate="rowexpansion" let-location>
           <app-stock-items [locationKey]="stockLocationKey"></app-stock-items>
        </ng-template>
    </p-table>
</div>